<% if user_signed_in? %>
  <h2 class="p-5 text-primary">Overview</h2>
  <div class="row p-0 px-5 gap-2">
    <div class="col text-center py-4 border rounded">
      <i class="fa-duotone fa-building fa-2x text-info"></i>
      <p class="mt-2">Total Departments</p>
      <p><%= Department.count %></p>
    </div>
    <div class="col text-center py-4 border rounded">
      <i class="fa-duotone fa-users fa-2x text-success"></i>
      <p class="mt-2">Total Employees</p>
      <p>150</p>
    </div>
    <div class="col text-center py-4 border rounded">
      <i class="fa-duotone fa-user-graduate fa-2x text-warning"></i>
      <p class="mt-2">Today's Students</p>
      <p>1200</p>
    </div>
    <div class="col text-center py-4 border rounded">
      <i class="fa-duotone fa-check-circle fa-2x text-danger"></i>
      <p class="mt-2">Today's Attendance</p>
      <p>1100</p>
    </div>
  </div>
<% end %>
