<tr class="text-center">
  <td class="text-start"><%= department.name %></td>
  <td class="text-end">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-coreui-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <%= link_to edit_department_path(department), class: "dropdown-item" do %>
            <i class="fa-duotone fa-edit me-2"></i>
            Edit
          <% end %>
        </li>
        <li>
          <%= link_to department_path(department), class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove '#{department.name}'?" } do %>
            <i class="fa-duotone fa-trash-can-xmark me-2"></i>
            Remove
          <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
