<%= form_with model: @employee, url: employees_path, method: :post, html: { class: 'row'}, data: { controller: 'form' } do |form| %>
  <div class="card pt-2 border-0">
    <div class="card-header">
      <div class="card-title h2">New Employee</div>
    </div>
    <div class="card-body">
      <%= render partial: 'employee_form', locals: { form: form, employee: @employee, departments: @departments }%>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between border-0 mt-5">
      <%= link_to 'Back', employees_path, class: 'btn btn-outline-primary'%>
      <%= form.submit 'Save', class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>
