<div
  data-controller="notification"
  data-notification-delay-value="2000"
  class="<%= notification_container_class %>"
  data-transition-enter-from="opacity-0 translate-x-6"
  data-transition-enter-to="opacity-100 translate-x-0"
  data-transition-leave-from="opacity-100 translate-x-0"
  data-transition-leave-to="opacity-0 translate-x-6"
  style="z-index: 9999;"
>
  <% if notice %>
    <div class="alert bg-success mb-10">
      <div class="d-flex text-light gap-2">
        <i class="ri-information-fill text-light fs-2"></i>
        <span><%= notice %></span>
      </div>
    </div>
  <% else %>
    <div class="alert bg-danger mb-10">
      <div class="d-flex text-light gap-2">
        <i class="ri-error-warning-fill text-light fs-2"></i>
        <span><%= flash[:error] || flash[:alert] %></span>
      </div>
    </div>
  <% end %>
</div>
